
@media screen and (max-width: 900px) {  

    .btn-container{
        display: block;
        margin: 10px 0;
        width: 100%;
    }

    #task-content{
        text-align: center;
    }

    .app{
        width:100vw;
        height: 100vh;
        top:0;
        left: 0;
        transform: translate(0,0);
        border-radius:0;
    }


}

@media  screen and (max-width: 600px) {
    .index{
        display: none;
    }
    li{
        margin: 20px 0;
    }
    .li-task-type{
        font-size: 0.8rem;
        position: relative;
        top:10px;
    }
    
    .li-task-duedate{
        position: relative;
        left: 1rem;
        font-size: 0.8rem;
    }
    .li-task-delete{
        opacity: 1;
        font-size: 1rem;
        position: absolute;
        right: 3%;
    }
    li >input{
        position: relative;
        top:8px;
        /* transform: translateY(-50%); */
    }
}

@media  screen and (max-width: 300px) {
    .btn{
        margin: 10px 0;
    }
}